body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color:aliceblue;
    
}

li {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

h1 {
    padding: 10px;
    text-align: center;

}

h2 {
    text-align: center;

}

h3 {
    text-align: left;
    margin-left: 1cm;
 
}

h4 {
    text-align: left;
    margin-left: 1cm;
   
}

p {
    text-align: center;
    margin-left: 2cm;
    margin-right: 2cm;
    font-size: 110%;
 

}


.project01 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
.project012 {
    flex: 1;
    padding: 5px;
    align-items: center;
    margin-left: 1.5cm;
}
.project03 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.project04 {
    flex: 1;
    padding: 5px;
    align-items: center;
    margin-left: 3cm;
}
.icons{
    text-align: center;
}